.ProductListSearchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 20px;
}

.ProductList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    font-family: Yantramanav,sans-serif;
    color: #515151;
}

.noMatchesMessage{
    color: tomato;
    font-size: large;
    font-weight: 900;
}

/* @media (min-width: 586px) and (max-width: 980px) {
    .ProductListSearchContainer{
        width: 100%;
    } 
} */

@media (min-width: 320px) and (max-width: 587px) {
    .ProductListSearchContainer{
        width: 100%;        
    }
    .ProductList{
        padding: 20px;
    }
}