.ProductListSearchContainer{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 20px;
}

.ProductList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    font-family: Yantramanav,sans-serif;
    color: #515151;
}

.noMatchesMessage{
    color: tomato;
    font-size: large;
    font-weight: 900;
}