.profileContainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.profileCard{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Yantramanav,sans-serif;
    color:   #4f4f4f;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 30px 10px #4f4f4f;
    border-radius: 10px;
}
.profileName,
.profileIcon{
    color: #f85555;
}

.profileLogout{
    border-radius: 8px;
    background-color: #f85555;
    color: white;
    font-weight: 600;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.profileLogout:hover{
    background-color: #e24c4c;
    transform: translatey(-4px);
    transition: 0.5s;
}

.profileLogout:active{
    background-color: #af3a3a;
}
