.ProductCard{
    position: relative;
    width: 250px;
    height: 480px;
    border: 1px solid lightgray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.imgContainer>img{
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
}
.imgContainer >img:hover{
    background: url("Product.images[1].url");
}

.infContainer{
    border-top: 1px solid lightgray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:15px;
    font-size: 17px;
}

.brand,
.price{
    font-weight: 600;
    color:  #c7c7c7;;
}
.infContainer strong{
    margin-top: 20px;
}
/* .priceContainer :nth-child(2){
    color: rgba(0, 128, 0, 0.767);
} */

.cartIconProductCard{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f85555;
    color: white;
    font-size: 23px;
    height: 45px;
    width: 45px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    transition: 0.5s;
}

.cartIconProductCard:hover{
    background-color: #fd6d6d;
    transform: translateY(-5px);
    transition: 0.5s;
    color: lightblue;
}

.cartIconProductCard:active{
    background-color: #f73f3f;
}

.selectedProductMessage{
    color: green;
}

@media (min-width: 320px) and (max-width: 587px) {
    .ProductCard{
        width: 200px;
        height: 380px;
    }
}