.createUserFormContainer{
    display: flex;    
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    position: relative;
    padding-top: 110px;
    padding-bottom: 60px;
    /*  */
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    /* border: 2px solid red; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.createUserFormContainer > form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    width: 40%;
    height: 70%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px 5px lightgray;

}
.firstNameInputContainer,
.lastNameInputContainer,
.phoneInputContainer,
.emailInputContainer,
.passwordInputContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
}
.firstNameInputContainer > input,
.lastNameInputContainer > input,
.phoneInputContainer > input,
.emailInputContainer > input,
.passwordInputContainer > input{
    height: 35px;
    background-color: rgb(222, 237, 240);
    border: thin solid lightgray;
    border-radius: 3px;
    padding-left: 10px;
}
.passwordInputContainer > button{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.buttonInputContainer > button{
    height: 35px;
    width: 100%;
    background-color: #f85555;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
}
.buttonInputContainer > button:hover{
    background-color: #e04f4f;
    cursor:pointer;
}
.buttonInputContainer > button:active{
    background-color: #c54646;
    cursor:pointer;
}


@media (min-width: 320px) and (max-width: 587px) {
    .createUserFormContainer{
        flex-direction: column;
    }
}