.CartContainer{
    background-color: rgb(255, 255, 255);
    width: 35%;
    position: absolute;
    right: 0px;
    top: 80px;
    color:#4f4f4f;
    overflow-y: auto;
    box-shadow: 10px 10px 20px 5px rgba(99, 98, 98, 0.938);
    border-radius: 0px 0px 0px 10px;

}
.cartProduct{
    background-color: #f85555;
    height: 100%;
    margin-top: 30px;
    width: 100%;
}
.totalCartContainer{
    margin: 10px;
    width: 90%;
    height:20%;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
    bottom: 0px;
    border-top: 1px solid #ababab;
    font-family: Yantramanav,sans-serif;
    background-color: #cfcdcd;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5%;
}
.totalCartContainer h3:nth-child(2){
    color: green;
}
.cartTitle{
    font-family: Yantramanav,sans-serif;
    text-align: center;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ababab;
}
.total{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.cartCheckout{
    height: 30px;
    width: 90%;
    background-color: #f85555;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 5%;
    border-radius: 8px;
}
.cartProductContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.cartEmptyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f85555;
    margin: 10px;
    width: 90%;
    height:80%;
    border-radius: 10px;
    font-weight: 900;
    color: white;
}

@media (min-width: 586px) and (max-width: 980px) {
    .CartContainer{
        width: 50%;
    }
}

@media (min-width: 320px) and (max-width: 587px) {
    .CartContainer{
        width: 100%;
    }
}